# OS
.DS_Store
Thumbs.db

# Node (si besoin futur)
node_modules/

# Logs
*.log
certs/

# Data (volumes OSM, tuiles, elevation - trop volumineux pour git)
data/osm/
data/valhalla/valhalla_tiles/
data/valhalla/*.pbf
data/tiles/*.mbtiles
data/elevation/mapzen/
